@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@400;900&display=swap");
@import "_mixins";
@import "_reset";

$colorCrimson: #c82419;
$colorRed: #e7463c;
$colorBrown: #76150f;
$colorIvory: #f0f0f0;
$colorGray: rgba(0, 0, 0, 0.5);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: $colorIvory;
}

header {
  display: block;
  position: fixed;
  font-family: "Montserrat", sans-serif;
  width: 33vw;
  height: 100%;
  color: $colorRed;

  h1 {
    font-size: 72px;
    padding: 10vh 0 0 72px;
    margin-bottom: 7%;
  }

  .contents_box {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    padding: 72px;
    line-height: 1.5;
  }

  .intro_box {
    text-align: left;
    > p {
      font-weight: 500;
      &:nth-child(1) {
        font-size: 24px;
        margin-bottom: 24px;
      }
      &:nth-child(2) {
        font-size: 15px;
      }
    }
  }
  nav {
    width: auto;
    margin-top: 27px;
    ul {
      display: flex;
      flex-wrap: wrap;
      a {
        margin: 0 12.5px 5px 0;
        text-decoration: underline;
        color: $colorGray;
        &:hover {
          color: #000;
        }
      }
    }
    > p {
      color: $colorGray;
      font-size: 10px;
      margin-top: 20px;
    }
  }
}

main {
  position: relative;
  left: 33vw;
  width: 67vw;
  height: auto;

  .movie_intro_sorting {
    position: fixed;
    left: 33vw;
    width: inherit;
    padding: 60px 72px;
    z-index: 10000;
    background-color: $colorRed;
    text-align: center;
    border-bottom: 0.1px solid #76150f;

    span {
      color: #fff;
      font-size: 20px;
      button {
        font-size: 20px;
        text-decoration: underline;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: none;
        color: #76150f;
        cursor: pointer;
      }
    }
  }

  .movie_intro {
    background-color: $colorRed;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.08), transparent);
    position: relative;
    top: 10vh;
    width: 100%;
    padding: calc(10vh + 0.9em) 144px 98px;

    .movie_intro_summary {
      display: flex;
      position: relative;
      z-index: 1000;
      justify-content: space-between;
      align-items: flex-end;
      h2 {
        @include subTitle();
        position: relative;
        & > a {
          left: -50px;
          position: absolute;
          color: $colorBrown;
          text-decoration: none;
        }
        & + a:hover {
          opacity: 0.6;
          transition-duration: 0ms;
        }
      }
      span {
        color: #fff;
        font-weight: 700;
      }
    }

    .movie_intro_thumbnail {
      width: inherit;

      .movie_intro_ranking {
        span {
          position: relative;
          z-index: 1000;
          bottom: -96px;
          left: -10px;
          background-color: $colorCrimson;
          color: #fff;
          font-size: 25px;
          padding: 0.4em 0.5em 0.45em;
        }

        .movie_intro_vote {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          top: 280px;
          right: 98px;
          & > button {
            cursor: pointer;
            right: 100px;
            width: 45px;
            appearance: none;
            background-color: $colorCrimson;
            color: #fff;
            border: none;
            padding: 10px;
          }

          .intro_vote_up:not([disabled]):first-of-type:after {
            content: "Vote up";
          }
          .intro_vote_up:after {
            align-items: center;
            background-color: #da281b;
            bottom: 0;
            color: #fff;
            display: flex;
            font-size: 0.7em;
            opacity: 0;
            padding: 10px;
            pointer-events: none;
            position: absolute;
            right: 100%;
            top: 0;
            transform: translate3d(12px, 0, 0);
            transition: opacity 0.15s ease-out, transform 0.15s ease-out;
            white-space: nowrap;
          }
        }
      }

      .movie_intro_thumbnail_img > img {
        width: 100%;
        z-index: 0;
        margin-top: 36px;
        box-shadow: 12px 12px 10px 1px rgba(0, 0, 0, 0.3);
      }
    }

    .movie_intro_desc {
      p {
        color: #fff;
        text-align: justify;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        padding-top: 48px;
      }
    }
  }
}
