@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@400;900&display=swap");
@import "_mixins";
@import "_reset";

$colorRed: #e7463c;
$colorIvory: #f0f0f0;
$colorGray: rgba(0, 0, 0, 0.5);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: $colorIvory;
}

header {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 33vw;
  color: $colorRed;

  h1 {
    font-size: 72px;
    padding: 10vh 0 0 72px;
    margin-bottom: 7%;
  }

  .contents_box {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    padding: 72px;
    line-height: 1.5;
  }

  .intro_box {
    text-align: left;
    > p {
      font-weight: 500;
      &:nth-child(1) {
        font-size: 24px;
        margin-bottom: 24px;
      }
      &:nth-child(2) {
        font-size: 15px;
      }
    }
  }
  nav {
    width: auto;
    margin-top: 27px;
    ul {
      display: flex;
      flex-wrap: wrap;
      a {
        margin: 0 12.5px 5px 0;
        text-decoration: underline;
        color: $colorGray;
        &:hover {
          color: #000;
        }
      }
    }
    > p {
      color: $colorGray;
      font-size: 10px;
      margin-top: 20px;
    }
  }
}

main {
  background-color: $colorRed;
  width: 67vw;

  .movie_intro_sorting {
    width: auto;
    padding: 60px 72px;
    text-align: center;
    display: fixed;

    span {
      color: #fff;
      font-size: 20px;
      button {
        font-size: 20px;
        text-decoration: underline;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: none;
        color: #76150f;
        cursor: pointer;
      }
    }
  }

  .movie_intro {
    padding: 72px;

    .movie_intro_summary {
      h2 {
        @include subTitle();
        & > span {
          visibility: hidden;
        }
        & > span:hover {
          visibility: visible;
        }
        }
      }
    }
  }
}
